Repository 3liz/py-qgis-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:ltr, test:release, test:3.4, build

test:ltr:
  stage: test
  script:
  - make docker-test LOCAL_HOME=$RUNNER_HOME FLAVOR=$QGIS_FLAVOR
  tags:
  - infrav3
  artifacts:
    reports:
      junit: tests/unittests/__output__/junit.xml
  variables:
    QGIS_FLAVOR: ltr

test:release:
  stage: test
  script:
  - make docker-test LOCAL_HOME=$RUNNER_HOME FLAVOR=$QGIS_FLAVOR
  tags:
  - infrav3
  artifacts:
    reports:
      junit: tests/unittests/__output__/junit.xml
  variables:
    QGIS_FLAVOR: release

test:3.4:
  stage: test
  script:
  - make docker-test LOCAL_HOME=$RUNNER_HOME FLAVOR=$QGIS_FLAVOR
  tags:
  - infrav3
  artifacts:
    reports:
      junit: tests/unittests/__output__/junit.xml
  variables:
    QGIS_FLAVOR: '3.4'

build:
  stage: build
  script:
  - make dist deliver
  environment:
    name: snap
  tags:
  - infrav3

Skip failing test with 3.4
  .gitignore
  pyqgisserver/qgscache/cachemanager.py
  tests/unittests/test_cache.py
Due: test:ltr, test:release, test:3.4, build

Run tests sequentially
  .gitlab-ci.yml
Due: none

Remove tests for qgis 3.4
  .gitlab-ci.yml
Due: none

Upgrade scheme aliasing
  pyqgisserver/config.py
  pyqgisserver/qgscache/cachemanager.py
  pyqgisserver/qgscache/handlers/file_handler.py
  tests/docker/Makefile
  tests/unittests/test_cache.py
Due: test:ltr, test:release, test:3.4, build

Add postgres support for Qgis projects
  .gitignore
  pyqgisserver/qgscache/cachemanager.py
  pyqgisserver/qgscache/handlers/__init__.py
  pyqgisserver/qgscache/handlers/postgres_handler.py
  tests/.pg_service.conf
  tests/docker/Makefile
  tests/unittests/conftest.py
  tests/unittests/test_cache.py
Due: test:ltr, test:release, test:3.4, build

Version 1.3
  pyqgisserver/config.py
  pyqgisserver/version.py
Due: test:ltr, test:release, test:3.4, build

Change CI build policy
  docker/.gitlab-ci.yml
Due: none

Apply characters substitution for env variables
  pyqgisserver/config.py
  pyqgisserver/version.py
Due: test:ltr, test:release, test:3.4, build

Allow select server version in docker build
  .gitignore
  Makefile
  docker/Dockerfile
  docker/Dockerfile.pypi
  docker/Makefile
  tests/docker/Makefile
Due: test:ltr, test:release, test:3.4

Read manifest at startup
  Makefile
  docker/Dockerfile
  docker/docker-entrypoint.sh
  pyqgisserver/server.py
  setup.py
Due: test:ltr, test:release, test:3.4, build

Add build manifest as package resource
  MANIFEST.in
  Makefile
  pyqgisserver/server.py
  setup.py
Due: test:ltr, test:release, test:3.4, build

Allow BUILD_VERSION parameter for docker build
  Makefile
  docker/.dockerignore
  docker/Dockerfile
  docker/Dockerfile.pypi
  docker/Makefile
Due: test:ltr, test:release, test:3.4

CI: set release_tag to qgis branch version
  docker/.gitlab-ci.yml
  docker/Makefile
Due: none

Prevent passing invalid data to QByteArray
  .gitignore
  .gitlab-ci.yml
  pyqgisserver/qgsworker.py
  tests/data/france_parts.qgs
  tests/unittests/test_wfs.py
Due: test:ltr, test:release, test:3.4, build

Add client tests
  docker/Makefile
  pyqgisserver/version.py
  setup.py
  tests/client/conftest.py
  tests/client/pytest.ini
  tests/client/test_profile.py
  tests/unittests/conftest.py
Due: test:ltr, test:release, test:3.4, build

Read version from build manifest
  pyqgisserver/server.py
  pyqgisserver/version.py
  setup.py
Due: test:ltr, test:release, test:3.4, build

Update README
  README.md
Due: none

small updates in readme
  .gitignore
  README.md
  docker/README.md
Due: none

add hint about QGIS version in the readme
  docker/README.md
Due: none

style: make warning message clear
  pyqgisserver/version.py
Due: test:ltr, test:release, test:3.4, build

Add test for scheme handler
  Makefile
  tests/unittests/test_cache.py
Due: test:ltr, test:release, test:3.4

Add secure mode for postgres scheme
  pyqgisserver/config.py
  pyqgisserver/config.yml
  pyqgisserver/qgscache/handlers/postgres_handler.py
Due: test:ltr, test:release, test:3.4, build

Build sphinx documentation
  doc/Makefile
  doc/conf.py
  doc/configuration.rst
  doc/configuration.rst.j2
  doc/index.rst
  doc/jtpl.py
  doc/schemes.rst
Due: none

Fix standalone qgis worker startup
  pyqgisserver/config.py
  pyqgisserver/qgscache/cachemanager.py
  pyqgisserver/qgsworker.py
Due: test:ltr, test:release, test:3.4, build

Use rtd doc theme
  .readthedocs.yml
  doc/Makefile
  doc/conf.py
  doc/configuration.rst
  doc/configuration.rst.j2
  doc/index.rst
  doc/intro.rst
  doc/requirements.txt
  doc/schemes.rst
  pyqgisserver/config.yml
  tests/unittests/test_config.py
Due: test:ltr, test:release, test:3.4, build

Fix for RTD build
  doc/Makefile
  doc/conf.py
Due: none

Remove support for qgis 3.4
  docker/.gitlab-ci.yml
Due: none

Run minimal pylint on test
  .gitignore
  pyqgisserver/broadcast.py
  pyqgisserver/monitor.py
  pyqgisserver/qgsworker.py
  pyqgisserver/utils/process.py
  pyqgisserver/utils/qgis.py
  requirements.pip
  setup.py
  tests/docker/Makefile
  tests/docker/run_tests.sh
Due: test:ltr, test:release, test:3.4, build

CI: Set cpu/memory limits for tests
  .gitlab-ci.yml
  tests/docker/Makefile
Due: test:ltr, test:release, test:3.4

Ensure that aliased project path is relative to base url
  pyqgisserver/qgscache/cachemanager.py
  pyqgisserver/qgsworker.py
  tests/unittests/test_cache.py
Due: test:ltr, test:release, test:3.4, build

Push rc version to docker hub
  docker/.gitlab-ci.yml
  docker/Makefile
  tests/docker/Makefile
Due: test:ltr, test:release, test:3.4

Revisit python package versioning
  .gitlab-ci.yml
  MANIFEST.in
  Makefile
  VERSION
  docker/docker-entrypoint.sh
  setup.py
Due: test:ltr, test:release, test:3.4, build

CI: Release only on tags
  docker/.gitlab-ci.yml
Due: none

CI: change build preconditions
  .gitlab-ci.yml
Due: none

Release as python package
  .gitlab-ci.yml
  .lizcloud/factory.mk
  docker/.gitlab-ci.yml
Due: none

Qgis ltr supports only
  .gitlab-ci.yml
  docker/.gitlab-ci.yml
Due: none

build qgis 'release' branch
  .gitlab-ci.yml
  Makefile
  VERSION
  docker/.gitlab-ci.yml
  docker/Makefile
Due: test:ltr, test:release, test:3.4

Do not push rc version on tag
  docker/Makefile
Due: none

CI: Update version before building docker image
  docker/.gitlab-ci.yml
Due: none

Path conditions:
  test:ltr: any of: pyqgisserver/**/*, tests/**/*, *.sh, Makefile, setup.*, requirements.*
  test:release: any of: pyqgisserver/**/*, tests/**/*, *.sh, Makefile, setup.*, requirements.*
  test:3.4: any of: pyqgisserver/**/*, tests/**/*, *.sh, Makefile, setup.*, requirements.*
  build: any of: pyqgisserver/**/*, setup.*, MANIFEST.in, requirements.txt
